.contact-area .contact-title .title {
  font-size: 60px;
  color: #333; }
  @media (max-width: 767px) {
    .contact-area .contact-title .title {
      font-size: 35px; } }
@media (max-width: 767px) {
  .contact-area {
    padding-top: 70px; } }

.contact-box {
  padding: 0px 40px 15px;
  background-color: #fff; 
 }
  @media (max-width: 767px) {
    .contact-box {
      padding: 0 20px  20px; } 
 }

 /* --reduce margin in contact-box- */
 div.col-lg-12 {
   padding:0;
 }
@media( max-width:994px) {
 h1.about_color{
   height:20px;
   margin-top:15px;
 }
}
/* ----- */

.single-form {
  margin-top: 30px; }
  .single-form textarea, .single-form input {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(202, 201, 201) !important;
    background-color: #f7f7ff;
    padding: 0 20px; }
  .single-form textarea {
    height: 120px;
    padding-top: 5px;
    resize: none; }
  .single-form textarea::placeholder, .single-form input::placeholder {
    opacity: 1;
    color: #777; }



/*######################## extra style ###############################*/
    
.footer_img{
  background-image:url('https://wallpaperaccess.com/full/1567665.png');
  background-position: center;
  
  }

  .contact-box{
    /* box-shadow: 5px 5px 4px grey; */
    border-radius: 5px;
  }

  .contact-box input{
    border: 1px solid rgb(202, 201, 201) !important;
    background-color: #f7f7ff !important;

  }
