/* logo on navbar */
.logotop{
    height: 60px !important;
    width: 60px !important;
    display:inline-block;
    margin:0 10px 10px 0;
    border-radius: 10%;
}

/* about us color */
.about_color{
    margin-top:0;
    color: rgb(36, 132, 241); /*github updated color*/
    /* color: rgb(83, 139, 243); */
}
@media screen and (min-width:750px) {
.about_img{
    height:320px;
    }
}

@media screen and (min-width:750px) {
    .about_img{
        height:214px;
        }
}


/* contact section address */
.address_space{
    line-height: 20px;
}

/* 3 cards on top */
.images-3{
min-height: 350px;
box-shadow: 1px 2px 6px rgb(204, 201, 201);

}

/* product cards upper gap*/
section.hoc.container.clear{
padding-top:0;
}

main.hoc.container.clear{
    padding-bottom: 40px;
}


.nospace{
    margin-top: 30px !important;
}


/* Footer Icons */
.icons {
    text-align: center;
}

.icon1 {
    padding: 0% 2%;
}

.icon1:hover {
    color:#4267B2;
    transform: scale(1.2);
    transition: .5s;
}
.icon2 {
    padding: 0% 2%;
}

.icon2:hover {
    /* color:#8a3ab9; */
    color:#c437d1;
    transform: scale(1.2);
    transition: .5s;
}
.icon3 {
    padding: 0% 2%;
}

.icon3:hover {
    color:#1DA1F2   ;
    transform: scale(1.2);
    transition: .5s;
}
.icon4 {
    padding: 0% 2%;
}

.icon4:hover {
    color:#FF0000;
    transform: scale(1.2);
    transition: .5s;
}

.link_icon {
    color:rgb(208, 204, 226);
}

/* contact icon in navbar */
.caller-icon{
height:20px;
width:20px;
vertical-align:middle;
}

/* hr tag above services section */
.hr-1{
    border-color: black;
    width:90%;
    margin:auto 5%;
   }
/* ------------------------------------------------------------------------------------------------ */
   
.product-size{
    box-shadow: 2px 2px 5px gray;
    height:210px;
    width:324px;
    border-radius: 5px;
}
 
 #product-heading{
     margin-top:1rem;
 }
